<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>测试</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/plupload/js/plupload.full.min.js"></script>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/layui/font/new-font/iconfont.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <script src="/layuiadmin/layui/layui.js"></script>
    <link id="layuicss-layer" rel="stylesheet" href="/layuiadmin/layui/css/modules/layer/default/layer.css" media="all">
    <link id="layuicss-laydate" rel="stylesheet" href="/layuiadmin/layui/css/modules/laydate/default/laydate.css" media="all">
</head>
<body>
    <!--<div class="layui-layer-content">-->
        <!--<input type="file" class="myFile">-->
        <!--<button onclick="addVideo()">上传</button>-->
        <!--<input type="hidden" oninput="OnInput(event)" class="testInput">-->
    <!--</div>-->
    <div class="layui-form-item tr_kpoint tr_fileType_control local_video">
        <div class="layui-input-block" style="margin-left: 20px">
            <button class="layui-btn layui-btn-normal selectButton" id="localUpload" type="button">上传视频</button>
            <div id="localDataQueue" class="mt10"></div>
        </div>
    </div>
</body>

<script>
    function addVideo() {

        var formData = new FormData();
        formData.append("fileList", $(".layui-layer-content .myFile")[0].files[0]);
        formData.append("param","courseKpoint/video");

        $.ajax({
            url: "/uploadVideoTest",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                if(data.error == 0){
                    var videoName = data.fileName;
                    var videoSize = data.length;
                    var idVarchar = data.url;
                    var audioElement = new Audio(idVarchar);
                    audioElement.addEventListener("loadedmetadata", function (_event) {
                        var videoDuration = audioElement.duration.toFixed(0);
                        console.log("视频的时长为:",audioElement.duration);//单位：秒

                        parent.postMessage( {code:'1',videoName:videoName,msg: idVarchar,videoSize:videoSize,videoDuration:videoDuration,
                            videoType:"localhost",status:"finish",fileType:1,initType:1,imageUrl:"/static/inxweb/img/coures.gif"}, '*');
                    });
                }else {
                    parent.postMessage( {code:'-1',msg: '上传失败'}, '*');
                }
            },
            error: function (err) {
                console.log(err);
                parent.postMessage( {code:'-1',msg: '上传失败'}, '*');
            }
        });
    }

    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    $(function () {
        /*延时重新渲染layui 防止有元素未渲染*/
        setTimeout(function () {
            if(layui.form!=null){
                layui.form.render();
            }
        },100)

        uploadLocalVideo('localUpload','videourl','localDataQueue');
    });

    var initUploadLocalVideo = false;
    function uploadLocalVideo(controlId,ids,errId){
        if(initUploadLocalVideo) {
            return false;
        }
        initUploadLocalVideo = true;
        //实例化一个plupload上传对象
        var uploaderLocalVideo = new plupload.Uploader({
            runtimes : 'html5,flash,gears,browserplus,silverlight,html4',
            browse_button : controlId, //触发文件选择对话框的按钮，为那个元素id
            url : '/uploadVideo?param=courseKpoint/video',
            chunk_size : '1mb',
            flash_swf_url : '/plupload/js/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
            silverlight_xap_url : '/plupload/js/Moxie.xap', //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
            multi_selection:false
        });

        //在实例对象上调用init()方法进行初始化
        uploaderLocalVideo.init();
        //文件选择后上传
        uploaderLocalVideo.bind('FilesAdded', function(uploader, files) {
            //自动上传
            uploader.start();

            //上传清零
            layui.use('element', function(){
                var element = layui.element;
                element.progress('demo', '0%');
            });
        });

        //文件选择后上传
        uploaderLocalVideo.bind('FileFiltered', function(up, file){
            if(!/(mp4)$/.test(file.type)){
                layer.msg("视频类型必须是.mp4格式", {icon: 5, shift: 6});
                //layer.msg("您上传的图片格式是" + file.type + ",只能上传"+limitType+"图片", {icon: 5, shift: 6});
                up.removeFile(file);
                return;
            }
        });

        //上传完成填充数据
        uploaderLocalVideo.bind('FileUploaded',
            function(uploader, file, responseObject) {
                $.each(file, function(idx, item){
                    uploader.removeFile(item);
                });
                var result=responseObject.response;
                console.log("返回数据:",result);
                var data = $.parseJSON(result);

                if(data.error == 0){
                    var videoName = data.fileName;
                    var videoSize = data.length;
                    var idVarchar = data.url;
                    var audioElement = new Audio(idVarchar);
                    audioElement.addEventListener("loadedmetadata", function (_event) {
                        var videoDuration = audioElement.duration.toFixed(0);
                        console.log("视频的时长为:",audioElement.duration);//单位：秒

                        parent.postMessage( {code:'1',videoName:videoName,msg: idVarchar,videoSize:videoSize,videoDuration:videoDuration,
                            videoType:"localhost",status:"finish",fileType:1,initType:1,imageUrl:"/static/inxweb/img/coures.gif"}, '*');

                        setTimeout(function (){
                            layer.msg("操作成功",{icon: 1, shift: 6})
                            window.location.reload()
                        },1000)
                    });
                }else {
                    parent.postMessage( {code:'-1',msg: '上传失败'}, '*');
                    setTimeout(function (){
                        layer.msg("操作失败",{icon: 5, shift: 6})
                        window.location.reload()
                    },1000)
                }
            }
        );

        //上传进度条
        $("#"+controlId).parent().append('<div style="margin-top: 15px; width:300px">\n' +
            '            <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demoLocalVideo">\n' +
            '            <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>\n' +
            '            </div>\n' +
            '            </div>');

        uploaderLocalVideo.bind('UploadProgress', function (uploader, file) {
            var percent = file.percent;

            //上传进度展示
            layui.use('element', function(){
                var element = layui.element;
                element.progress('demoLocalVideo', percent+'%');
            });
        });
    }
</script>
</html>